<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("User management", "UserManagement", "Home")</li>
                </ul>
            </div>
            <div>
                <button id="btnLogout" type="button" class="btn btn-secondary">Log out</button>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Simo Pöysä</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
		$("#btnLogout").on("click", function(e) {
			$.ajax({
				type: "POST",
				datatype: "json",
				contenttype: 'application/json; charset=utf-8',
				url: '@Url.Action("LogOut", "Home")',
				async: true,
				//data: { UserID: -1 },
				success: function (data) {
					$('#createUserModal .modal-content').html(data);
					$('#createUserModal').modal('show');
				},
				error: function () {
					alert("Failed adding user");
				}
			});
		});
    </script>

</body>
</html>
