@model Positiva_Task.Models.LoginModel

@{
	ViewBag.Title = "Login";
}

<div>
	@using (Ajax.BeginForm("Login", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSubmitSuccess()", OnFailure = "OnSubmitFailure()" }))
	{
		@Html.AntiForgeryToken()

	<div class="row">
		<h2>@ViewBag.Title</h2>
		<br />
		<span>You can login with your user name or email.</span>
	</div>

		<div class="form-row">
			<br />
			<div class="row">
				@Html.ValidationSummary(true) <br />
				@Html.LabelFor(m => m.UserName) <br />
				@Html.TextBoxFor(m => m.UserName)
				@Html.ValidationMessageFor(m => m.UserName)
			</div>

			<div class="row">
				@Html.ValidationSummary(true) <br />
				@Html.LabelFor(m => m.Password) <br />
				@Html.TextBoxFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</div>
		</div>
		<br />

		<div class="row">
			<button id="btnLogin" type="submit" class="btn btn-primary">Login</button>
		</div>
		<br />
	}

	<div class="row">
		@Html.ActionLink("Forgot password?", "ResetPassword", "Home", null, new { @class = "page-scroll" })
	</div>
	@*<br /><br />
	<span>Not registered?</span>
	<button id="btnRegister" type="submit" class="btn btn-primary">Register</button>*@
</div>

@section scripts
{
	<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation- unobtrusive/jquery.validate.unobtrusive.js"></script>

	@Styles.Render("//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
	@Scripts.Render("//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

	<script type="text/javascript">

		function OnSubmitSuccess(data) {
		debugger
		if (data.Error == true) {
			alert("Invalid username or password.");
		}
		else {
			alert("Logged in successfully.");
		}
	}

	function OnSubmitFailure(data) {
		debugger
		alert("Login failed.");
	}
	</script>
}