@model Positiva_Task.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset password";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>
<br />
<br />
<div class="row">
    <div>
        @Html.AntiForgeryToken()

        <div class="row">
            <input type="text" value="@Model.Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" readonly>
        </div>

        <div class="row">
            <input id="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <div class="row">
            <input id="password2" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <div class="row">
            <button id="btnResetPassword" type="button" class="btn btn-primary">Reset password</button>
        </div>
    </div>

    @section scripts
{
        <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation- unobtrusive/jquery.validate.unobtrusive.js"></script>

        @Styles.Render("//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
        @Scripts.Render("//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

        <script type="text/javascript">

        $("#btnResetPassword").on("click", function(e) {
            $.ajax({
                type: "POST",
                datatype: "json",
                contenttype: 'application/json; charset=utf-8',
                url: '@Url.Action("ResetPassword", "Home")',
                async: true,
                data: { UserID: -1 },
                    success: function (data) {
                        //alert("Password has been changed.");
                    },
                error: function () {
                    alert("Password reset failet.");
                }
            });
        });

        </script>
