@model List<Positiva_Task.Models.UserModel>

@{
	ViewBag.Title = "User management";
}

<div class="row">
	<h2>@ViewBag.Title</h2>
</div>
<br />
<br />
<div class="row">
	<button id="btnCreateUser" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">
		<span>Create new user</span>
	</button>
</div>
<br />

<div class="row">
	<table id="usersTable">
		<thead>
			<tr>
				<td>First name</td>
				<td>Last name</td>
				<td>User name</td>
				<td>Email</td>
				<td>Date of birth</td>
				<td>Role</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				@Html.HiddenFor(model => item.UserID)
				@Html.HiddenFor(model => item.Role)
				<tr>
					<td>
						@Html.DisplayFor(model => item.FirstName)
					</td>
					<td>
						@Html.DisplayFor(model => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(model => item.UserName)
					</td>
					<td>
						@Html.DisplayFor(model => item.Email)
					</td>
					<td>
						@Html.DisplayFor(model => item.DateOfBirth)
					</td>
					<td>
						@Html.DisplayFor(model => item.RoleName)
					</td>
					<td>
						<a style="cursor:pointer;" id="edit_@item.UserID" onclick="EditUser(@item.UserID)">Edit</a> |
						<a style="cursor:pointer;" id="delete_@item.UserID" onclick="DeleteUser(@item.UserID)">Delete</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>

<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>

@section scripts
{
	<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
	<script src="@Url.Content("/Scripts/jquery.validate.js")" type="text/javascript"></script>
	@Styles.Render("//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
	@Scripts.Render("//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

	<script type="text/javascript">
		$(document).ready(function () {
			$('#usersTable').DataTable({});
		});

		$("#btnCreateUser").on("click", function(e) {
			$.ajax({
				type: "POST",
				datatype: "json",
				contenttype: 'application/json; charset=utf-8',
				url: '@Url.Action("EditOrAddUser", "Home")',
				data: { UserID: -1 },
				success: function (data) {
					$('#createUserModal .modal-content').html(data);
					$('#createUserModal').modal('show');
				},
				error: function () {
					alert("Failed adding user");
				}
			});
		});

	function EditUser(userID) {
		$.ajax({
			type: "POST",
			datatype: "json",
			contenttype: 'application/json; charset=utf-8',
			url: '@Url.Action("EditOrAddUser", "Home")',
			data: { userID: JSON.stringify(userID) },
			success: function (data) {
				$('#createUserModal .modal-content').html(data);
				$('#createUserModal').modal('show');
			},
			error: function () {
				alert("Failed adding user");
			}
		});
	}

	function DeleteUser(userID) {
		var deleteUser = confirm("Are you sure you want to delete this user?");
		if (deleteUser == true) {
			$.ajax({
				type: "POST",
				datatype: "json",
				contenttype: 'application/json; charset=utf-8',
				url: '@Url.Action("DeleteUser", "Home")',
				async: true,
				data: { userID: JSON.stringify(userID) },
				success: function (data) {
					if (data.Error == true) {
						alert(data.Message);
					}
					else {
						alert(data.Message);
						window.location.reload();
					}
				},
				error: function (data) {
					alert(data.Message);
				}
			});
		}
	}

	function ValidateForm() {
		return $('form').validate().form();
	}

	function OnSubmitSuccess(data) {
		if (data.Error == true) {
			alert(data.Message);
		}
		else {
			$('#createUserModal').modal('hide');
			alert("Added user successfully.")
			window.location.reload();
		}
	}

	function OnSubmitFailure(data) {
		alert("Failed adding user");
	}

	</script>
}